@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


*,*::after,*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

img{
    max-width: 100%;
}

.text-color{
    color: rgba(255, 0, 0, 0.671);
}

.row{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.left-side{
    min-width: 55%;
}

.right-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 30%;
    width: 90%;
    margin: 1rem auto;
    padding: 1.5rem;
    border: 1px solid rgba(0, 0, 0, 0.144);
    border-radius: 0.5em;
}

.logo-title{
    font-size: 2.5rem;
    margin-top: 0.5em;
    text-align: center;
}

.cadastro-title{
    font-size: 1.5rem;
    max-width: 580px;
}

.pages-links{
    text-decoration: none;
    color: white;
    padding: 0.5rem 0.7rem;
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
    border-radius: 0.5rem;
    transition: 0.2s;
}

.pages-links:hover{
    cursor: pointer;
    transform: translate(0 ,-3px);
}

.blue{
    background-color: rgba(62, 171, 235, 0.911);
    margin-top: 2rem;
}

.red{
    background-color: rgba(255, 0, 0, 0.747);
    margin: 1rem auto;
}

p{
    text-align: center;
}

.novo-campo-link{
    color: black;
}

.link-container{
    width: 100%;
    margin: 1rem auto;
    text-align: center;
}



/* cadastro configurações */

main header{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

main header i{
    font-size: 1.5rem;
    color: #FF5678;
}

form{
    width: 100%;
    margin-left: 0 auto;
}

main label{
    display: block;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 0.6rem;
}

main input, select{
    margin-bottom: 1rem;
    max-width: 489px;
    width: 90%;
    height: 3rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
}


button{
    border: none;
    background-color: transparent;
    font-size: 1.1rem;
    color: #35E6E9;
    cursor: pointer;
}

@media screen and (min-width: 700px){
    body{
        display: flex;
        height: 100vh;
        align-items: center;
    }
    .content{
        margin: 1rem;
    }
    .row{
        flex-direction: row;
        gap: 0.5rem;
    }

    main{
        padding: 0 1rem
    }
    
    .logo-title{
        font-size: 3.5rem;
    }

    .cadastro-title{
        font-size: 1.8rem;
    }

    .left-side{
        max-width: 50%;
    }

    .right-side{
        margin: 0 auto;
        max-width: 600px; 
        min-height: 400px;
    }

    .pages-links{
        font-size: 1.3rem;
    }

    p{
        margin-top: 3rem;
        font-size: 0.8rem;
    }
}

@media screen and (min-width: 1024px){
    
    .content{
        margin: 2.5rem;
    }
    
    .logo-title{
        font-size: 4rem;
    }
    .cadastro-title{
        font-size: 2.7rem;
        text-align: start;
    }
    .pages-links{
        font-size: 1.8rem;
        padding: 1rem;
        margin: 2rem auto;
    }

    .blue{
        margin-top: 3rem;
    }
   
    p{
        margin-top: 3rem;
        font-size: 1.2rem;
    }

    /* cadastro mudanças */

    form{
        margin-left: 3rem;
    }
}
